<md-sidenav-container fullscreen>
  <md-sidenav #sidenav>
    <md-nav-list>
      <a md-list-item [routerLink]="['/elephants']"
          routerLinkActive="active" (click)="sidenav.toggle()">
        <md-icon md-list-icon>voicemail</md-icon>
        <span md-line>Elephants</span>
      </a>
      <a md-list-item [routerLink]="['/lions']"
          routerLinkActive="active" (click)="sidenav.toggle()">
        <md-icon md-list-icon>pets</md-icon>
        <span md-line>Lions</span>
      </a>
      <a md-list-item [routerLink]="['/feedback']"
          routerLinkActive="active" (click)="sidenav.toggle()">
        <md-icon md-list-icon>assignment</md-icon>
        <span md-line>Feedback</span>
      </a>
    </md-nav-list>
  </md-sidenav>
  <md-toolbar color="primary" class="mat-elevation-z6">
    <button md-icon-button (click)="sidenav.open()">
      <md-icon>menu</md-icon>
    </button>
    <h3>{{ title }}</h3>
  </md-toolbar>
  <div id="container">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>